.two-cta {
	margin-bottom: 40px;
	width: 100%;
	position: relative;

	@media (min-width: 768px) {
		margin-bottom: 144px;
	}

	&__container {
		display: grid;
		width: 100%;
		grid-template-columns: 1fr;
		grid-gap: 60px;

		@media (min-width: 768px) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (min-width: 1181px) {
			grid-gap: 144px;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		height: 100%;
		width: 100%;
		max-width: 531px;
		text-align: left;
		z-index: 1;
	}
	&__top-title {
		color: #A31825;
		margin-bottom: 51px;
	}

	&__title {
		color: #9D585C;
		font-weight: 600;
		margin-bottom: 16px;
	}

	&__paragraph {
		color: #655C4E;
		margin-bottom: 44px;
	}

	&__icon {
		height: 100px;
		width: auto;
		object-fit: cover;
		object-position: center;
		margin-bottom: 18px;
	}
}
