.calendar {
	margin-bottom: 40px;

	@media (min-width: 768px) {
		margin-bottom: 110px;
	}

	&__container {
		display: flex;
		flex-direction: column;
		gap: 12px;
	}
	&__text {
		display: flex;
		flex-direction: column;
		gap: 8px;

		@media (min-width: 768px) {
			padding-top: 60px;
		}
		@media (min-width: 1181px) {
			padding-top: 60px;
			text-align: center;
		}
		h2 {
			color: #A31825;
		}
		h3, h4 {
			color: #9D585C;
			font-weight: 300;
		}
	}

	&__embed {
		height: 658px;
	}
}