# Operating System Files
.DS_Store
Thumbs.db

# Editor Files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Node.js
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log

# Vite
dist/
*.local

# WordPress
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

# Theme-specific
.sass-cache/
*.css.map
*.js.map

# Logs
*.log
log/
logs/

# Packages
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Compiled source
*.com
*.class
*.dll
*.exe
*.o
*.so

# Temporary files
*.swp
*.swo
*~

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# PHP Composer
vendor/
composer.phar

# Miscellaneous
*.bak
*.tmp
.tmp/

# Ignore all custom-plugins
custom-plugins/*