.golden-list {
	background-color: #AD946D;
	color: #fff;
	padding: 40px 0;

	@media (min-width: 768px) {
		padding: 60px 0;
	}

	@media (min-width: 1181px) {
		padding: 100px 0;
	}

	&__title {
		margin-bottom: 36px;
	}

	&__list {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 10px;

		@media (min-width: 768px) {
			grid-template-columns: 1fr 1fr;
			grid-gap: 30px;
			column-gap: 40px;
		}

		@media (min-width: 1181px) {
			grid-template-columns: 1fr 1fr;
			grid-gap: 20px;
			column-gap: 100px;
		}
		.button {
			height: 20px;
		}
	}

	&__button {
		margin-top: 20px;
	}

	&__item {
		font-size: 20px;
		font-weight: 300;
		line-height: 36px;
		letter-spacing: 0.2px;

		@media (min-width: 768px) {
			padding-left: 20px;
		}

		@media (min-width: 1181px) {
			padding-left: 30px;
		}
		&::marker {
			height: 9px;
			width: 9px;
			background-color: #fff;
		}
	}
}