.editor {
	margin-bottom: 40px;
	@media (min-width: 768px) {
		margin-bottom: 60px;
	}

	@media (min-width: 1181px) {
		margin-bottom: 78px;
	}

	&__wrapper {
		display: flex;
		width: 100%;
		&--left {
			justify-content: flex-start;
		}
		&--right {
			justify-content: flex-end;
		}
	}
	&__container {
		@media (max-width: 1181px) {
			width: 100% !important;
		}
	}
}