.instagram {
	padding-top: 109px;
	padding-bottom: 40px;
	position: relative;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		background-color: #D5C2C1;
		width: 76%;
		height: 443px;
	}

	.container {
		position: relative;

		.sb_instagram_header, .instagram__content .sbi_follow_btn, .instagram__content .sb_instagram_footer, .instagram__content .sbi_info, .instagram__content .sbi_caption, .instagram__content .sbi_meta .sbi_info #sbi_load {
			display: none !important;
		}

		.sbi-header-type-text {
			font-weight: 600 !important;
		}
		.sbi-owl-prev {
			display: none;

			@media (min-width: 768px) {
				left: -47px !important;
				display: block;
			}
			@media (min-width: 1181px) {
				left: -72px !important;
			}
		}
		.sbi-owl-next {
			display: none;

			@media (min-width: 768px) {
				right: -47px !important;
				display: block;
			}
			@media (min-width: 1181px) {
				right: -72px !important;
			}
		}
		.sbi-owl-nav>div {
			box-shadow: unset !important;
			background-color: transparent  !important;
		}
	}


	&__title {
		color: #A31825;
		margin-bottom: 50px;
	}

	&__content {
		height: 306px;
		position: relative;
	}

	&__item {
		margin: 0 16px;
		width: 295px !important;
		height: 306px !important;
		background-color: #9D585C;
	}

	&__arrow {
		height: 29px;
		width: 15px;
		cursor: pointer;
		border-radius: 16px;
		padding: 6px;
		background-position: center;
		transition: all 0.3ms ease-in-out;
		display: block !important;

		&--left {
			content: '';
			background-image: url('./assets/images/instagram-prev.svg');
			background-repeat: no-repeat;
			left: -57px;

			@media (max-width: 1181px) {
				left: -4px;
				bottom: 0;
			}
		}

		&--right {
			content: '';
			background-image: url('./assets/images/instagram-next.svg');
			background-repeat: no-repeat;
			right: -57px;

			@media (max-width: 1181px) {
				right: -4px;
				bottom: 0;
			}
		}
	}
}