.form {
	background-color: $light-color;
	color: $dark-color;
	padding: 64px 0;
	position: relative;

	@media (max-width:768px) {
		padding: 32px 0;
	}


	&__title {
		margin: 0;
	}

	.form-group {
		margin-bottom: 24px;

		label {
			display: block;
			margin-bottom: 8px;
			font-weight: bold;
		}

		input[type="text"],
		input[type="email"],
		input[type="number"],
		input[type="date"],
		textarea,
		select {
			width: 100%;
			padding: 8px;
			border: 1px solid $dark-color;
			border-radius: 4px;
		}

		textarea {
			resize: vertical;
		}

		select[multiple] {
			height: auto;
		}

		input[type="checkbox"],
		input[type="radio"] {
			margin-right: 8px;
		}
	}
}