.form {
	background-color: $light-color;
	padding: 64px 0;
	position: relative;

	@media (max-width:768px) {
		padding: 32px 0;
	}

	&__title {
		color: $dark-color;
	}

	&__wpform {
		position: relative;
		z-index: 1;

		.wpforms {
			&-field-label {
				color: $dark-color !important;
				font-size: 17px !important;
				font-weight: 400 !important;
				line-height: 32px !important;
				letter-spacing: 0.2px !important;
			}
			&-submit-container {
				button,input {
					@extend .button;
				}
			}
		}
	}
}