.icon_columns {
	padding: 40px 0;

	@media (min-width: 768px) {
		padding: 80px 0;
	}
	@media (min-width: 1181px) {
		padding: 120px 0;
	}

	h2 {
		color: #A31825
	}

	h3, h4 {
		color: #9D585C
	}

	&-head {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 40px;
		margin-bottom: 24px;

		&__title {
			font-size: 24px;
			line-height: 32px;
			font-weight: 700;
			color: #000000;
			margin-bottom: 0;
		}
	}

	&-section {
		display: flex;
		flex-direction: column;

		@media (min-width: 768px) {
			align-items: center;
		}

		&__wrapper {
			display: grid;
			grid-template-columns: 1fr;
			grid-gap: 24px;
			margin-bottom: 40px;

			@media (min-width: 768px) {
				grid-gap: 60px;
				margin-bottom: 60px;

				&--two {
					grid-template-columns: 1fr 1fr;
				}
				&--three {
					grid-template-columns: 1fr 1fr;
				}

			}
			@media (min-width: 1181px) {
				grid-gap: 80px;

				&--three {
					grid-template-columns: 1fr 1fr 1fr;
				}
			}
		}

		&__title {
			margin-bottom: 24px;
			@media (min-width: 768px) {
				margin-bottom: 40px;
			}
		}
	}

	&-subblock {
		display: flex;
		flex-direction: column;
		gap: 24px;

		&__icon {
			width: 100%;
			height: 80px;
			display: flex;
			align-items: center;

			&--center {
				justify-content: center;
			}
		}

		&__text {
			font-size: 16px;
			line-height: 24px;
			font-weight: 400;
			color: #000000;
			margin-bottom: 0;
		}
	}
}
