.button {
  display: inline-flex !important;
  padding: 12px 20px 12px 22px !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 16px !important;
  border-radius: 24px !important;
  background-color: $dark-pink !important;
  font-size: 15px !important;
  font-weight: 600 !important;
  line-height: 20px !important;
  color: $white !important;
  cursor: pointer;
  transition: all 0.3s ease-in-out !important;
  width: max-content !important;

  @media screen and (max-width: 782px) {
	font-size: 13px;
  }

  &--primary {
    &::after {
      content: '' !important;
      background-image: url('./assets/images/arrow.svg') !important;
      background-repeat: no-repeat !important;
      width: 5px !important;
      height: 10px !important;
    }

    &:hover {
      background-color: $red !important;
    }
  }


  &--outline {
    color: $red !important;
    border: 1px solid $red !important;
    background-color: $white !important;

    &::after {
      content: '' !important;
      background-image: url('./assets/images/arrow-red.svg') !important;
      background-repeat: no-repeat !important;
      width: 5px !important;
      height: 10px !important;
    }

    &:hover {
      background-color: $pink !important;
      border-color: $pink !important;
    }
  }

  &--white {
    color: $red !important;
    background-color: $white !important;

    &::after {
      content: '' !important;
      background-image: url('./assets/images/arrow-red.svg') !important;
      background-repeat: no-repeat !important;
      width: 5px !important;
      height: 10px !important;
    }

    &:hover {
      background-color: $dark-pink !important;
      color: $white !important;

      &::after {
        background-image: url('./assets/images/arrow.svg') !important;
      }
    }
  }

  &--primary,
  &--outline,
  &--white {

    &::after {
      transition: transform 0.3s ease-in-out;
    }

    &:hover::after {
      transform: translateX(4px);
    }
  }
}