.header {
  z-index: 999;
  position: relative;
  margin: 12px 0;

  @media (min-width: 768px) {
    margin: 40px 0;
  }

  @media (min-width: 1641px) {
    margin: 67px 0;
  }

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 36px;
  }

  &__burger {
    display: flex;
    cursor: pointer;

    img {
      height: 100%;
      width: auto;
    }

    @media (min-width: 768px) {
      height: 40px;
      width: 51px;
    }

    @media (min-width: 1641px) {
      display: none;
    }
  }

  &__logo {
    width: 50%;

    @media (min-width: 1641px) {
      width: 416px;
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}

.navigation {
  display: none;
  align-items: center;
  @media (min-width: 1641px) {
    display: flex;
  }

  .menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 36px;

    @media (min-width: 1641px) {
      display: flex;
    }

    &-item {
      position: relative;

      a {
        color: $greige;
        text-decoration: none;
        position: relative;
        font-size: 20px;
        letter-spacing: 0.2px;

        &:hover {
          color: $red;

          &::after {
            content: '';
            position: absolute;
            display: block;
            width: 60%;
            height: 4px;
            border-radius: 16px;
            background-color: $red;
            margin-top: 5px;
          }
        }
      }
    }
  }

  .sub-menu {
    flex-direction: column;
    gap: 12px;
    transition: all 0.3s ease;
    list-style-type: none;
    padding: 4px 12px 8px 12px;
    flex-wrap: wrap;

    @media (min-width: 1641px) {
      display: none;
      position: absolute;
      top: 30px;
      background-color: #ffffff;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    li {
      width: max-content;

      a {
        font-size: 20px;
      }
    }
  }

  .menu-item-has-children:hover > .sub-menu {
    display: flex;
  }
}