.mobile-menu {
	position: fixed;
	top: 0;
	right: 0;
	height: 0vh;
	width: 0vw;
	background-color: $pink;
	z-index: 1000;
	padding: 10px 0;
	display: none;

	@media (min-width: 768px) {
		padding: 40px 0;
	}

	&__top {
		height: 10vh;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__close {
		height: 32px;
		width: 32px;
		cursor: pointer;
		@media (min-width: 768px) {
			height: 51px;
			width: 51px;
		}
		img {
			height: 100%;
			width: auto;
		}
	}

	&__content {
		height: 90vh;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		overflow: scroll;
	}

	&__bottom {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 12px;
		color: #655C4E;
        margin-bottom: 24px;

		@media (min-width: 768px) {
          margin-bottom: 48px;
        }
	}

	&__logo {
		height: 40px;

		img {
			height: 100%;
			width: auto;
		}
	}

	&__navigation {
		display: flex;
		width: 100%;
		justify-content: center;
		text-align: center;
		margin-top: 24px;

		.menu {
			display: flex;
			flex-direction: column;
			gap: 24px;
			list-style: none;
			padding: 0;
			margin: 0;
			color: #655C4E;

			@media (min-width: 768px) {
				display: grid;
				li {
					a {
						font-size: 36px;
					}
				}
			}
		}

		.sub-menu {
			flex-direction: column;
			gap: 12px;
			list-style-type: none;
			padding: 4px 4px 8px 4px;
			flex-wrap: wrap;
		}
	}
}