.wp-block {
	width: 100% !important;
	max-width: 1320px !important;
	margin: 0 auto !important;
	padding: 0 15px !important;
}

.block-editor-block-list__layout {
	display: flex !important;
	flex-direction: column !important;
	justify-content: center !important;
}