.header-contact {
	position: relative;
	margin-bottom: 60px;

	@media (min-width: 768px) {
		height: 800px;
		margin-bottom: calc(63px + 140px);
	}

	@media (min-width: 1181px) {
		height: 639px;
		margin-bottom: calc(63px + 260px);
	}

	&__container {
		position: relative;

		@media (min-width: 1181px) {
			height: 100%;
		}
	}

	&__content {
		color: #fff;
		background-color: #AD946D;
		padding: 20px;

		@media (min-width: 768px) {
			position: absolute;
			padding: 68px 80px 56px 110px;
			top: 240px;
			left: 0;
		}

		@media (min-width: 1181px) {
			position: absolute;
			max-width: calc(644px - 120px);
			padding: 68px 110px 56px 110px;
			top: 350px;
			left: 0;
		}
	}

	&__social-media {
		margin-top: 40px;

		@media (min-width: 1181px) {
			position: absolute;
			bottom: 0;
			right: -25vw;
			max-width: 316px;
		}

		&-title {
			color: #A31825;
			font-weight: 600;
			@media (min-width: 1181px) {
				font-size: 24px;
			}
		}

		&-icons {
			display: flex;
			margin-top: 20px;

			@media (min-width: 1181px) {
				justify-content: space-between;
			}

			a {
				display: flex;
				justify-content: center;
				align-items: center;
				margin-right: 32px;
				border-radius: 50%;

				img {
					width: 48px;
					height: 48px;

					@media (min-width: 768px) {
						width: 69px;
						height: 69px;
					}
				}
			}
		}
	}

	&__contact {
		display: flex;
		flex-direction: column;
		gap: 24px;

		@media (min-width: 768px) {
			gap: 32px;
		}

		@media (min-width: 1181px) {
			gap: 44px;
		}
		&-line {
			display: flex;
			align-items: center;
		}

		&-icon {
			display: flex;
			justify-content: center;
			align-items: center;
			min-width: 29px;
			width: 29px;
			height: 29px;
			padding: 6px;
			margin-right: 16px;
			border-radius: 50%;
			background-color: #EEEEEE;

			@media (min-width: 768px) {
				width: 39px;
				height: 39px;
				padding: 10px;
				margin-right: 32px;
			}

			img {
				width: 19px;
				height: 19px;
				object-position: center;
				object-fit: contain;
				margin: 0;
				padding: 0;
				border: none;
				display: block;
				@media (min-width: 768px) {
					width: 29px;
					height: 29px;
				}
			}
		}
		&-text {
			font-size: 17px;
			@media (min-width: 768px) {
				font-size: 20px;
			}
		}
	}

	&__image {
		right: 0;
		top: 0;
		width: 100%;
		object-fit: cover;
		object-position: center;
		max-height: 640px;
		@media (min-width: 768px) {
			position: absolute;
		}
	}

	&__paragraph {
		font-weight: 300;
		margin-bottom: 20px;

		@media (min-width: 768px) {
			margin-bottom: 40px;
		}
	}

	&__title {
		margin-bottom: 24px;
	}
}