.header-about {
	position: relative;
	margin-bottom: 40px;
	@media (min-width: 1181px) {
		height: 700px;
		display: flex;
		align-items: flex-end;
		margin-bottom: calc(40px + 170px);
	}
	&__content {
		display: flex;
		flex-direction: column;
		gap: 20px;
		width: 100%;
		margin-top: 20px;
		@media (min-width: 1181px) {
			width: 664px;
			padding-bottom: 40px;
			margin-top: unset;
		}
		h1, h2 {
			color: #A31825;
		}

		h3 {
			color: #9D585C;
		}
		p {
			color: #655C4E;
		}
	}

	&__image {
		top: 0;
		right: 0;
		z-index: -1;
		width: 100%;
		height: auto;
		object-fit: cover;
		object-position: center;

		@media (min-width: 1181px) {
			position: absolute;
			height: 700px;
			width: 60%;
		}
	}
}