.image-text {
	padding-top: 37px;
	margin-bottom: 40px;

	@media (min-width: 768px) {
		margin-bottom: 60px;
		padding-top: 60px;
	}

	@media (min-width: 1181px) {
		margin-bottom: 80px;
		padding-top: 80px;
	}

	&--image_margin {
		@media (min-width: 1181px) {
			.image-text__image-container {
				margin-top: -127px;
			}
		}
	}

	&__container {
		display: flex;
		justify-content: space-between;
		gap: 36px;
		width: 100%;
		flex-direction: column-reverse;

		@media (min-width: 1181px) {
			&--align {
				align-items: center;
			}
		}
		@media (max-width: 1024px) {
          align-items: center;
		}

		@media (min-width: 768px) {
			gap: 24px;
		}
		@media (min-width: 1024px) {
			flex-direction: row;
			gap: 36px;
		}
	}

	&__content {
		display: flex;
		align-items: flex-start;
		width: 100%;
		text-align: left;
		gap: 12px;
		flex-direction: column;

		@media (min-width: 1024px) {
			max-width: 647px;
		}

		h2, h3, h4 {
			color: #9D585C;
		}
		h4 {
			font-size: 20px;
			font-weight: 300;
			line-height: 36px;
			letter-spacing: 0.2px;
		}

		p {
			color: #655C4E;
		}
	}

	&__button {
		margin-top: 24px;
	}

	&__image {
		object-fit: cover;
		object-position: center;
		@media (min-width: 768px) and (max-width: 1024px) {
			height: 100%;
			max-height: 50vh;
		}
		@media (max-width: 760px) {
			width: 100vw !important;
		}
	}
}
