.reviews {
	z-index: 1;
	background-color: #D5C2C1;
	padding-top: 20px;
	@media (min-width: 768px) {
		margin-top: 100px;
		padding-top: 0;
		background-color: transparent;
	}

	&__content {
		z-index: 0;

		.single-review {
			position: relative;
			z-index: 1;
			@media (min-width: 768px) {
				padding-top: 70px;
				margin: 0 20px;
			}
		}
	}

	&__text {
		padding: 380px 20px 50px 20px;
		position: relative;
		background-color: #D5C2C1;
		color: #FFF;
		font-weight: 400;

		@media (min-width: 768px) {
			padding: 80px 100px 80px 60px;
			width: 50%;
		}

		@media (min-width: 1181px) {
			font-weight: 600;
			padding: 94px 114px;
			width: 62%;
		}

		p {
			font-size: 20px;
			font-weight: 600;
			line-height: 32px;
			letter-spacing: 0.2px;
		}

		&::before {
			content: '“';
			position: absolute;
			left: 0;
			font-size: 60px;
			height: 40px;
			font-family: Inter, sans-serif;
			background-repeat: no-repeat;
			font-weight: 400;

			@media (min-width: 768px) {
				top: 84px;
				left: 30px;
				font-size: 80px;
			}
			@media (min-width: 1181px) {
				top: 104px;
				left: 78px;
				font-size: 80px;
			}
		}
		&::after {
			content: '”';
			position: absolute;
			bottom: 24px;
			right: 20px;
			font-size: 60px;
			height: 40px;
			font-family: Inter, sans-serif;
			background-repeat: no-repeat;
			font-weight: 400;

			@media (min-width: 768px) {
				bottom: 44px;
				right: 74px;
				font-size: 80px;
			}
			@media (min-width: 1181px) {
				bottom: 54px;
				right: 88px;
			}
		}
	}

	&-person {
		padding: 40px;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: #9D585C;
		color: #FFF;
		width: 220px;
		text-align: center;
		margin-bottom: 14px;

		@media (min-width: 768px) {
			padding: 20px;
		}

		@media (min-width: 1181px) {
			padding: 40px;
			margin-bottom: 42px;
		}

		&__image {
			border-radius: 50%;
			width: 160px;
			height: 160px;
			margin-bottom: 20px;
			object-fit: cover;
		}

		&__container {
			position: absolute;
			top: 0;
			display: flex;
			flex-direction: column;
			align-items: center;
			margin: 0 auto;
			left: 0;
			right: 0;
			@media (min-width: 768px) {
				right: 0;
				margin: unset;
				left: unset;
			}
		}
	}

	&__arrows {
		display: flex;
		gap: 28px;
	}

	&__arrow {
		height: 29px;
		width: 15px;
		display: block;
		cursor: pointer;
		border-radius: 16px;
		padding: 6px;
		background-position: center;
		transition: all 0.3ms ease-in-out;

		&:hover {
			background-color: #D5C2C1;
		}

		&--left {
			content: '';
			background-image: url('./assets/images/arrow-left.svg');
			background-repeat: no-repeat;
		}

		&--right {
			content: '';
			background-image: url('./assets/images/arrow-right.svg');
			background-repeat: no-repeat;
		}
	}
}

.slick-slide {
	height: auto;
}